/* Font - size */

$xsmall: 0.750em;
$small: 0.875em;
$medium: 1.125em;
$large: 1.500em;
$xlarge: 2.000em;
$epic: 3.000em;
$jumbo: 4.000em;

/* Font - family */

$basic: 'Raleway', sans-serif;

/* Theme - colors */

$green: rgb(67, 128, 61);
$light-green: rgb(146, 194, 76);
$white: rgb(255, 250, 221);
$yellow: rgb(251, 216, 72);
$creamy: rgb(255, 239, 169);

