.table {
  width: 80%;
  margin: 0 auto;

  @include mobile {
    width: 100%;
    margin: 0;
  }

  @include tablet {
    width: 100%;
    margin: 0;
  }
}

.table__header {
  background-color: $green;
  color: $white;
  font: $large $basic;
  text-align: center;

  @include mobile {
    font-size: $medium;
  }

  @include tablet{
    font-size: $medium;
  }
}

.table__heading {
  padding: 20px 5px;
}

.table__row {
  &:hover {
    background-color: $green !important;
    color: $white;
  }
}

.table__row:nth-child(even) {
  background-color: $light-green;
}

.table__body {
  background-color: $creamy;
  font: $medium $basic;
  text-align: center;
}

.table__data {
  padding: 5px;
}

.table__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hide {
  @include mobile {
    display: none;
  }
}
